.form {
  background-color: rgb(214, 82, 186);
  padding: 1rem;
  width: 20rem;
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: rgb(241, 221, 237);
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: rgb(243, 207, 234);
  color: rgb(61, 15, 55);
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(196, 54, 166);
  color: rgb(241, 221, 237);
}

.actions button:hover {
  background-color: rgb(177, 45, 148);
}

.actions a {
  background-color: transparent;
  text-decoration: none;
  color: rgb(241, 221, 237);
}

.actions a:hover {
  color: rgb(219, 166, 209);
}
